$font-size: 2em;
$font-weight: 550;

header {
  display: flex;
  justify-content: center;
  padding: 50px 40px;

  .title {
    width: 40%;
    display: flex;
    justify-content: center;

    h1 {
      font-size: $font-size;
      font-weight: $font-weight;
      text-align: center;
    }
  }
}
